* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  max-width: 360px;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 18px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.05);
}
.card img {
  max-width: 100%;
  border-radius: 11px;
}
.card h1,
.card p {
  padding: 0 16px;
}
.card h1 {
  font-size: 25px;
  color: hsl(218, 44%, 22%);
  margin: 16px 0;
}
.card p {
  font-size: 17px;
  color: hsl(220, 15%, 55%);
  letter-spacing: 0.7px;
  padding-bottom: 24px;
}
.attribution {
  font-size: 18px;
  text-align: center;
}
@media (max-width: 392px) {
  body {
    padding: 15px;
  }
  .card h1 {
    font-size: 22px;
  }
  .card p {
    font-size: 15px;
  }
}

.attribution a {
  color: hsl(228, 79%, 56%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(228, 74%, 42%);
}
